header {
  width: 100%;
  display: flex;
  flex-direction: row;

  .header__nav {
    display: flex;
    align-items: center;
    gap: 30px;
    text-decoration: none;
  }

  img {
    width: 10%;
    height: 10%;
  }
}
